body {
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: lightgrey;
}

.tnReps__heading {
  color: white;
  text-shadow: 10px 10px 10px #000;
  font-size: 2em; 
  border-bottom: 5px solid navy;
  text-align: center;
  background-image: url(images/tn_flag.png);
  line-height: 4em;
}



.tnReps--congressRole {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

 
}

.congressRole__heading{
  text-align: center;
  display: block;
  color: navy;
  text-shadow: 2px 10px 10px #000;
}

.congressRole--repInfo {
  display: block;
  text-align: center;
  padding: 0 50px;
}

.repInfo__name {
  font-size: 1.25em;
  font-weight: bold;
  color: navy;
}

.committees__li,
.legLinks__li {
  text-align: left;
}
/* 
.repInfo__img {
  padding: 1px;
  border: 1px solid navy;
} */

